{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>
    User info
  </h1>
  {% if request.user.is_authenticated %}
    <h2>Details</h2>
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="user.profile.avatar.name">
    {% else %}
      <p>No avatar</p>
    {% endif %}
    {% if request.user.id == user.id %}
    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Аdd picture</button>
      </form>
    </div>
    {% endif %}
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <div>
      <a href="{% url 'myauth:users' %}">
        Go to user list
      </a>
    </div>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}