{% extends 'blogapp/base.html' %}

{% block title %}
  Articles list
{% endblock %}

{% block body %}
  <h1>Articles:</h1>
  {% if object_list %}
    <div>
      {% for article in object_list %}
        <div>
          <br>
          <p><b>Title:</b> <u><i>{{ article.title }}</i></u></p>
          <p>Publication date: {{ article.pub_date }}</p>
          <p>Author: {{ article.author.name }}</p>
          <p>Category: {{ article.category.name }}</p>
          <div>
            Tags in article:
            <ul>
              {% for tag in article.tags.all %}
                <li>{{ tag.name }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No articles yet</h3>
  {% endif %}
{% endblock %}
